<p style="color: green"><%= notice %></p>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Meals", meals_path %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= "#{@meal.name} #{@meal.date.month}-#{@meal.date.day}" %></li>
  </ol>
</nav>

<div class="card">
  <%= render @meal %>
</div>

<div>
  <%= link_to "Edit", edit_meal_path(@meal) %> |
  <%= link_to "Back", meals_path %>
</div>
<br>
<div>
  <%= button_to "Delete", @meal, method: :delete, class: "btn btn-danger" %>
</div>
