<p style="color: green"><%= notice %></p>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Routines", workout_types_path %></li>
    <li class="breadcrumb-item"><%= link_to @workout_type.name, workout_type_path(@workout_type) %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= "#{@workout_type.name} Exercises" %></li>
  </ol>
</nav>

<div class="card">
  <h1>Exercises</h1>
  <div class="mt-3" id="exercises">
    <ul>
      <% @exercises.each do |t| %>
        <li><%= link_to t.name, workout_type_exercise_path(@workout_type, t) %></li>
      <% end %>
    </ul>
  </div>
</div>

<%= link_to "New Exercise", new_workout_type_exercise_path(@workout_type), class: "btn btn-primary" %>
