<p style="color: green"><%= notice %></p>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Routines", workout_types_path %></li>
    <li class="breadcrumb-item"><%= link_to @workout_type.name, workout_type_path(@workout_type) %></li>
    <li class="breadcrumb-item"><%= link_to "#{@workout_type.name} Exercises", workout_type_exercises_path(@workout_type) %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @exercise.name %></li>
  </ol>
</nav>

<div class="card">
  <%= render @exercise %>
</div>

<div>
  <%= link_to "Edit", edit_workout_type_exercise_path(@workout_type, @exercise) %> |
  <%= link_to "Back", workout_type_exercises_path(@workout_type) %>
</div>
<br>
<div>
  <%= button_to "Delete", workout_type_exercise_path(@workout_type, @exercise), method: :delete, class: "btn btn-danger" %>
</div>
