<p style="color: green"><%= notice %></p>

<div class="card">
  <%= render @exercise %>
</div>

<div>
  <%= link_to "Edit", edit_workout_type_exercise_path(@workout_type, @exercise) %> |
  <%= link_to "Back", workout_type_exercises_path(@workout_type) %>
</div>
<br>
<div>
  <%= button_to "Delete", workout_type_exercise_path(@workout_type, @exercise), method: :delete, class: "btn btn-danger" %>
</div>
